<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mem">
 
 	<select id="list" resultType="project_sql.MemDTO">
 		SELECT * FROM mem
 		<!--  ORDER BY num -->
 	</select>
 	
 	<insert id="memInsert" parameterType="project_sql.MemDTO">
 		INSERT INTO mem(mnumber, mname,mphone,maddress,msum)
 		VALUES (mem_num_seq.nextval,#{mname},#{mphone},#{maddress},#{msum})
 	</insert>
 	<!-- 
 	<update id="memUpdate" parameterType="java.util.HashMap">
 		UPDATE mem SET name=#{name} WHERE num=#{num}
 	</update>
 	
 	<delete id="memDelete" parameterType="int">
 		DELETE FROM mem WHERE mnumber=#{mnumber}
 	</delete>  -->
 </mapper>