<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mem">
 
 	<select id="list" resultType="project_sql.SalesDTO">
 		SELECT * FROM MEM
 		ORDER BY mNumber
 	</select>
 	 	
 	<insert id="memInsert" parameterType="project_sql.SalesDTO">
 		INSERT INTO MEM(mNumber,mName,mPhone,mAddress, mSum, mGrade)
 		VALUES (mem_num_seq.nextval,#{mName},#{mPhone},#{mAddress},0,'New')
 	</insert>
 	
 	<delete id="memDelete" parameterType="int">
 		DELETE FROM MEM WHERE mNumber=#{mNumber}
 	</delete> 
 
 	<update id="memUpdate" parameterType="project_sql.SalesDTO">
  		UPDATE MEM 
  		SET mSum = mSum + #{mSum}
  		WHERE mNumber = #{mNumber}
 	</update>
 	
 </mapper>